.App {
  text-align: center;
  padding-bottom: 30px;
}

.App-header {
  background-color: #343434;
  color: white;
}

h1 {
  margin: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
