.App {
  text-align: center;
  padding-bottom: 30px;
}

.App-header {
  background-color: #343434;
  color: white;
}

h1 {
  margin: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
